{% block _grid_with_theme_container %}
{% spaceless %}
    <h1>This is datagrid theme</h1>
{% endspaceless %}
{% endblock %}

{% block column_header %}
{% spaceless %}
    <h1>This is column header theme</h1>
{% endspaceless %}
{% endblock %}

{% block _grid_with_theme_column_cell %}
{% spaceless %}
    <h1>This is column cell theme for datagrid-with-theme</h1>
{% endspaceless %}
{% endblock %}

{% block compound_cell %}
{% spaceless %}
    <h1>This is compound cell theme</h1>
{% endspaceless %}
{% endblock %}

{% block compound_header %}
{% spaceless %}
    <h1>This is compound header theme</h1>
{% endspaceless %}
{% endblock %}

{% block _grid_with_header_theme_title_cell %}
{% spaceless %}
    <h1>This is column header for datagrid-with-theme named title</h1>
{% endspaceless %}
{% endblock %}

{% block _grid_with_theme_actions_header %}
{% spaceless %}
    <h1>This is column header  for datagrid-with-theme named actions</h1>
{% endspaceless %}
{% endblock %}
